.wrapper{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  grid-auto-rows: 100px;

}
.wrapper > a{
  padding: 1em;

}

.sell{
  background-color: #ebebe0;

}
.display_stock{
  background-color: #ffd9b3;
}
.sold{
  background-color: #ffccee;
}
.stock_management{
  background-color: #d4d4aa;
}
.add_stock{
  background-color: #ccff99;
}
.user_management{
  background-color: #00e6ac;
}


.myformstyle{
  padding: 2em;
  background: 1em;
  border-radius: 4px;
}
