/*table,thead
{
  font-family: arial, sans-serif;
  width: 100%;
}
thead,td
{
  border-bottom: 1px solid #DDD;
}
tr:nth-child(odd)
{
  background-color: #F2F2F2;
}
thead
{
  background-color: #4CAF50;
  color: white;
}*/
thead
{
    background-color: #4CAF50;
    color: white; 
}
